<section class="section">
  <div class="container">
    <div class="columns">
      <% if current_user %>
        <%= render 'profile' %>
      <% else %>
        <%= render 'trends' %>
      <% end %>
      <%= render 'feed' %>
      <%= render 'who_to_follow'%>
    </div>
  </div>
</section>